
data/3d-models
data/images
__pycache__/*
__pycache__
.vscode/*
outputs/*
archive/*
dextr/*
external_libs/*
runs
inputs/bunny
inputs/archive
notes
uvs
*.txt
*.pyc
*.pth
*.pt
.vscode/settings.json
.gitmodules

toy.py 
yes.py 
playground.py

